<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="footer-header">./message.sh</h5>
        <form method="POST" action="http://formspree.io/michael.dcuesta@gmail.com">
          <div class="form-group">
            <label for="txtEmail" class="sr-only">Email address</label>
            <input type="email" class="form-control" name="email" id="txtEmail" placeholder="Your email address">
          </div>
          <div class="form-group">
            <label for="txtName" class="sr-only">Name</label>
            <input type="email" class="form-control" name="name" id="txtName" placeholder="Your name">
          </div>
          <div class="form-group">
            <label for="txtMessage" class="sr-only">Your message</label>
            <textarea class="form-control" name="message" id="txtMessage" rows="5" placeholder="Your message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Shoot</button>
        </form>
      </div>
      <div class="col-md-4">
        <h5 class="footer-header">./links</h5>
        <ul class="list-unstyled list-links">
          <li>
            <a href="/">
              ~/
            </a>
          </li>
          <li>
            <a href="/about">
              ~/about
            </a>
          </li>
        </ul>
        <h5 class="footer-header">find /me/in</h5>
        <ul class="list-unstyled list-find-me">
          <li>
            <a href="http://stackoverflow.com/users/1852919/mdcuesta">
              <i class="fa fa-stack-overflow"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/mdcuesta">
              <i class="fa fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/michael-dela-cuesta-35984a38/">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="footer-header">./subscribe</h5>
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="btn btn-lg btn-primary btn-rss">
          <i class="fa fa-rss"></i>
          via RSS
        </a>
        <h5 class="footer-header">./contact</h5>
        <ul class="list-unstyled">
          <li>
            <a class="mail-to-link" href="mailto:michael.dcuesta@gmail.com">
              michael.dcuesta@gmail.com
            </a>
          </li>
          <li>
            +639990967932
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
